.nav-links{
  margin-right: 15px;
  border: 1px dotted #ccc;
  padding: 10px;
  margin-top: 4px;
  display: inline-block;
}

.nav-links:hover{
  text-decoration: none;
}

.list-containers{
  list-style: none;
  padding: 0;
}

.list-containers li{
  display: block;
  border:1px dotted cornflowerblue;
  padding: 10px;
  margin-bottom: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.list-containers a:hover {
  text-decoration: none;
}

.text-normal{
  text-transform: none
}